<h1><%= @stylist.name() %></h1>

<% if @stylist.clients().any?() %>
  <h3>Here are all the clients of this stylist:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.description() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no clients for this stylist!</p>
  <% end %>


<h3>Add a client to <%= @stylist.name() %> </h3>

<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="description">Client name and description of service:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add client</button>
</form>

<p><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.name() %> stylist</a></p>
<p><a href="/">Return to Main Page</a></p>

<hr>

<div class="container">
  <a href="/">Home</a>
  <a href="/stylists">View All Stylists</a>
  <a href="/stylists/new">Add New Stylist</a>
  <a href="/clients/new">Add New Client</a>
</div>
